

/* features css */

.features ul {
    display: flex;

}
.features ul li{
    background: pink;
 border: 1px dashed black;
 text-align: center;
 min-width: 200px;
 color: #fff;
}
.features ul li:hover{
 background: silver;
 cursor: pointer;
}


.features:nth-child(2){
    background: yellow;
    text-align: center;
}
.features h2{
    padding: 15px 0;
}
.features ul h2{
    background: teal;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    padding: 15px 0;
}
